#header {
    background-color: #1a67f6;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#graphs {
    margin-bottom: 40px;
}


.graph1 {
    border:#898989 1px solid;
}

.graph2 {
    border:#898989 1px solid;
}

canvas {
  height: 300px !important;
  width: auto !important;
}